form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 20px
}

footer {
  text-align: center;
}

.container-form {
  display: flex;
  justify-content: center;
  background: #ccc;
  max-width: 400;
}

.layout {
  align-items: center;
  height: 94vh;
  display: flex;
  justify-content: center;
}

.input-numbre-phone {
  margin: 10px 0px;
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
}

.input-code-phone {
  border-radius: 10px 0px 0px 10px;
  margin: 10px 0px;
  padding: 8px;
}

.input-message {
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}

.submit {
  margin: 10px;
  padding: 8px
}
.phone-format-container{
  display: flex;
  flex-direction: row;
}